alphaToNum.xlsx
columns.txt
DHLtestOthers.xlsx
qh notes.txt
build/postage v0.14.zip
prj/1522795723811988168.csv
prj/src/build/
build/
prj/src/chromedriver.exe

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
tcl/
Include/
Scripts/
License.txt
